In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import numpy as np
name = np.array(['vinay','vishnu','vamsi'])
marks = np.array([12,32,54])
sec = np.array(['a','b','c'])
x = pd.DataFrame({"name" : name,"marks" : marks,
"section" :sec})
print(x)

     name  marks section
0   vinay     12       a
1  vishnu     32       b
2   vamsi     54       c

In [6]:
print(x.loc[1])

name       vishnu
marks          32
section         b
Name: 1, dtype: object

In [14]:
print(x.iloc[0:2])

     name  marks section
0   vinay     12       a
1  vishnu     32       b

In [15]:
print(x.loc[0:2])

     name  marks section
0   vinay     12       a
1  vishnu     32       b
2   vamsi     54       c

see the difference b/w the iloc and loc

In [23]:
print(x.loc[x['name']=='vinay'])

    name  marks section
0  vinay     12       a

In [26]:
print(x['name']=='vinay')

0     True
1    False
2    False
Name: name, dtype: bool

x.read_csv()
x.head()
x.isnull()
x.isnull().sum()
x[x.isnull().any(axis=1)]
<br>
for more reference : https://learn.microsoft.com/en-in/training/modules/explore-analyze-data-with-python/3-exercise-explore-data